h1 {
    background: linear-gradient(transparent 70%, #a7d6ff 70%);
}

h2{
    margin-top: 10px;
    background: linear-gradient(transparent 90%, #a7d6ff 70%);
}

#wrapper{
    max-width: 700px;
    margin: 0 auto;
}

img{
    margin: 10px auto;
    max-width: 90%;
    max-height: 70vh;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
    display: block;
}